<div class="ibox-title ">
    <h5>Registration Status: {{results.stats.student_registration.registration_type}}
</div>
<div class="ibox-title"><h5>Results</h5></div>
<div class="ibox-content">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Group</th>
                <th>Credits</th>
                <th>Grade</th>
                <th>Repeated</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="enrolment in results.enrolments | filter:results.stats.student_registration.student_registration_id">
                <td>{{$index+1}}</td>
                <td>{{ enrolment.course.code }}</td>
                <td>{{ enrolment.course.name }}</td>
                <td>{{ enrolment.group }}</td>
                <td>{{ enrolment.course.credit }}</td>
                <td>{{ enrolment.grade }}</td>
                <td>{{ enrolment.repeated }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ibox-title"><h5>Statistics</h5></div>

<div class="ibox-content">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Term</th>
                <th>Cumulative</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Registered Credits</td>
                <td> {{results.stats.registered_credits}}</td>
                <td> {{results.stats.cumulative_registered_credits}} </td>
            </tr>
            <tr>
                <td> Passed Credits</td>
                <td> {{results.stats.passed_credits}}</td>
                <td> {{results.stats.cumulative_passed_credits}} </td>
            </tr>
            <tr>
                <td> Scored Points:</td>
                <td> {{results.stats.scored_points}}</td>
                <td> {{results.stats.cumulative_scored_points}} </td>
            </tr>
            <tr>
                <td> Repeated Credits:</td>
                <td> {{results.stats.repeated_credits}}</td>
                <td> - </td>
            </tr>
            <tr>
                <td> Reapeated Points:</td>
                <td> {{results.stats.repeated_points}}</td>
                <td> - </td>
            </tr>
            <tr>
                <td> GPA:</td>
                <td> {{results.stats.GPA}}%</td>
                <td> {{results.stats.cumulative_GPA}}% </td>
            </tr>
        </tbody>
    </table>
</div>
