<div class="ibox-title ">
    <h5>حالة التسجيل: {{results.selectedStudentRegistration.registrationType}}
</div>
<div class="ibox-title"><h5>النتائج</h5></div>
<div class="ibox-content">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>رمز المقرر</th>
                <th>اسم المقرر</th>
                <th>المجموعة</th>
                <th>الوحدات</th>
                <th>الدرجة</th>
                <!-- <th>Repeated</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="enrolment in results.enrolments | filter:{__rel: {'student-registration': results.selectedStudentRegistration.id}}">
                <td>{{$index+1}}</td>
                <td>{{(results.courses | filter:{id: enrolment.__rel.course})[0].code}}</td>
                <td>{{(results.courses | filter:{id: enrolment.__rel.course})[0].name }}</td>
                <td>{{ enrolment.group }}</td>
                <td>{{ (results.courses | filter:{id: enrolment.__rel.course})[0].credit }}</td>
                <td>{{ enrolment.grade }}</td>
                <!-- <td>{{ enrolment.repeated }}</td> -->
            </tr>
        </tbody>
    </table>
</div>
<div class="ibox-title"><h5>الإحصائيات</h5></div>

<div class="ibox-content">

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>الفصلية</th>
                <th>التراكمية</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> الوحدات المسجلة</td>
                <td> {{results.stats.registered_credits}}</td>
                <td> {{results.stats.cumulative_registered_credits}} </td>
            </tr>
            <tr>
                <td> الوحدات المنجزة</td>
                <td> {{results.stats.passed_credits}}</td>
                <td> {{results.stats.cumulative_passed_credits}} </td>
            </tr>
            <tr>
                <td> النقاط</td>
                <td> {{results.stats.scored_points}}</td>
                <td> {{results.stats.cumulative_scored_points}} </td>
            </tr>
            <tr>
                <td> الوحدات المعادة</td>
                <td> {{results.stats.repeated_credits}}</td>
                <td> - </td>
            </tr>
            <tr>
                <td> النقاط المعادة</td>
                <td> {{results.stats.repeated_points}}</td>
                <td> - </td>
            </tr>
            <tr>
                <td> المعدل</td>
                <td> {{results.stats.GPA}}%</td>
                <td> {{results.stats.cumulative_GPA}}% </td>
            </tr>
        </tbody>
    </table>
</div>
